*~
*.bak
.DS_Store
.env
.envrc
!.gitignore
gitignore
!yarn.lock
*.tgz

README.html

.bundle
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

vendor
node_modules
yarn-error.log

src/assets/javascripts/*
src/assets/stylesheets/*

/doc/
