*~
*.bak
.DS_Store
.envrc

README.html

.bundle
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

node_modules
yarn-error.log
src/assets/javascripts/*
src/assets/stylesheets/*

/doc/

# rollup-plugin-visualizer's result
stats.html
